body {
    background-color: black;
    color:white;
    font-family: monospace, Arial, sans-serif;
}
.calcButton {
    position: fixed;
    top: 10px;
    right: 5px;
    font-size: 16px;
    padding: 5px 10px;
}
